@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

html {
    display: table;
    margin: auto;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1#c {
  font-size: 500%;
  font-family: 'Josefin Sans', sans-serif;
}

div#a {
  text-align: left;
  position: relative;
  left: -140px;
}

div#b {
  text-align: left;
  position: relative;
  left: 0px;
}

div, form, h5, h3, h1 {
   display: flex;
   justify-content: center;
}

.submissionfield {
  width: 200px;
  height: 50px;
  border: 1px solid #999999; padding: 5px;
}
form {
  display: inline;
}

button {
  border-radius: 4px;
  background-color: #0276FD;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

li {
  text-align: left;
  position: relative;
  left: 0px;
  max-width:500px;
  margin: auto;
}
