@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
