<h3>Account Sign Up</h3>

<p>Please complete the form below to create a new user account.</p>

<% flash.keys.each do |type| %>
  <div>
    <strong><%= flash[type] %></strong><br><br>
  </div>
<% end %>

<form method="POST" action="/signup">

  <div>

    <label><p>Username:</p><input type = "text" name="username" id="username"><br><br>
    <label><p>Email:</p><input type="text" name="email" id="email"><br><br>
    <label><p>Password:</p><input type="password" name="password" id="password"><br><br>

  </div>

  <div>

    <button type="submit" value="Create"><span>Create Account</span></button>

  </div>

</form>
