<h3>Logged in as: <%= @user.username %></h3>

<h3><p>Airports You Have Reviewed<p></h3>

<button onclick="location.href = '/logout';">Logout</button>

<% @airports.reverse.each do |airport| %>
  <ul>
    <li><a href="/airports/<%= airport.id %>"><%= airport.airport_code %></a> <br>  </em></li>
  </ul>
<% end %>
