<h5>Logged in as: <%= @user.username %></h5>

<h3>Airports You Have Reviewed</h3>
<div>
<button onclick="location.href = '/reviews';">Back to Reviews</button>
</div>
<div>
<button onclick="location.href = '/logout';">Logout</button>
</div>
<br><br>

<hr>

<% @airports.reverse.each do |airport| %>

<div id="b">

  <ul>

    <li><a href="/airports/<%= airport.id %>"><%= airport.airport_code %></a> <br>  </em></li>

  </ul>

 </div>

<% end %>
