
<h3>Edit Review Content:</h3>

<% flash.keys.each do |type| %>
  <div>
    <strong><%= flash[type] %></strong><br><br>
  </div>
<% end %>

<div>

  <%= @review.content %>

</div><br>

<form method="POST" action="/reviews/<%= @review.id %>">

  <input id="hidden" type="hidden" name="_method" value="patch">
<div>
  <textarea rows="4" cols="50" type="text" name="content" id="content" value="<%= @review.content %>"></textarea><br><br>
</div>
<br>
  <div>

    <button type="submit" value="submit"><span>Edit Review</span></button>

  </div>

</form>
