
<h3>Create a New Review:</h3>

<% flash.keys.each do |type| %>
  <div>
    <strong><%= flash[type] %></strong><br>
  </div>
<% end %>


<form method="POST" action="/reviews">

  <div>

    <label><p>Airport Name:</p><input type="text" name="airport_name" id="airport_name"><br><br>
    <label><p>Airport Code:</p><input type="text" name="airport_code" id="airport_code"><br><br>

  </div>
    <label><p>Airport Review:</p><textarea rows="4" cols="50" type="text" name="content" id="content"></textarea><br><br>


  </div>

  <div>

    <button type="submit" value="submit"><span>Submit</span></button>

  </div>

</form>
