
<h1>Create a New Review:</h1>

<% Helpers.flash_types.select {|type| flash.has?(type)}.each do |type| %>
  <div class="flash <%= type %>">
    <strong><%= flash[type] %></strong>
  </div>
<% end %>

<div>
<form method="POST" action="/reviews">

  <label><p>Airport Name:</p><input type="text" name="airport_name" id="airport_name"><br><br>
  <label><p>Airport Code:</p><input type="text" name="airport_code" id="airport_code"><br><br>
  <label><p>Airport Review:</p><input type="text" name="content" id="content"><br><br>

  <input type="submit" value="submit">

</form>
</div
